<nav>
  <a class="navbar-brand" href="#">Header</a>
  <div [ngClass]="isOverlayOn ? 'sidenav sidenav-displayed' : 'sidenav'">
    <a href="#">Home</a>
    <a routerLink="/user" routerLinkActive="active">I'm hungry</a>
    <a href="#">Role the dice !</a>
    <a href="#">The restaurants list !</a>
  </div>
  <!-- Use any element to open the sidenav -->
  <span (click)="openNavBar()">open</span>
</nav>
<!-- Black overlay displayed when side menu is open-->
<div [ngClass]="isOverlayOn ? 'overlay-on': 'overlay-off'" (click)="closeNavBar()"></div>
